# Загрузка данных

In [1]:
import pandas as pd
import numpy as np

# Для работы с матрицами
from scipy.sparse import csr_matrix

# Матричная факторизация
from implicit import als

from gensim.models import Word2Vec

# Модель второго уровня
from catboost import CatBoostClassifier

import os, sys
sys.path.insert(1, os.getcwd() + '/src/')

from metrics import precision_at_k, recall_at_k
from utils import prefilter_items
from recommenders import MainRecommender

In [2]:
data = pd.read_csv('retail_train.csv')
item_features = pd.read_csv('product.csv')
user_features = pd.read_csv('hh_demographic.csv')

# Функции

In [3]:
def print_stats_data(df_data, name_df):
    print(name_df)
    print(f"Shape: {df_data.shape} Users: {df_data[USER_COL].nunique()} Items: {df_data[ITEM_COL].nunique()}")
    
def make_recommendations(df_result, recommend_model, N_PREDICT=500, USER_COL='user_id'):
    return df_result[USER_COL].apply(lambda x: recommend_model(x, N=N_PREDICT))

def calc_recall(df_data, top_k, ACTUAL_COL='actual'):
    for col_name in df_data.columns[2:]:
        yield col_name, df_data.apply(lambda row: recall_at_k(row[col_name], row[ACTUAL_COL], k=top_k), axis=1).mean()
        
def calc_precision(df_data, top_k, ACTUAL_COL='actual'):
    for col_name in df_data.columns[2:]:
        yield col_name, df_data.apply(lambda row: precision_at_k(row[col_name], row[ACTUAL_COL], k=top_k), axis=1).mean()
        
def rerank(user_id, df, USER_COL='user_id', proba_col_name='proba_item_purchase', N=5):
    return df[df[USER_COL]==user_id].sort_values(proba_col_name, ascending=False).head(N).item_id.tolist()

# Подготовка данных

In [4]:
ITEM_COL = 'item_id'
USER_COL = 'user_id'

# column processing
item_features.columns = [col.lower() for col in item_features.columns]
user_features.columns = [col.lower() for col in user_features.columns]

item_features.rename(columns={'product_id': ITEM_COL}, inplace=True)
user_features.rename(columns={'household_key': USER_COL }, inplace=True)

In [5]:
VAL_MATCHER_WEEKS = 5
VAL_RANKER_WEEKS = 3

# берем данные для тренировки matching модели
data_train_matcher = data[data['week_no'] < data['week_no'].max() - (VAL_MATCHER_WEEKS + VAL_RANKER_WEEKS)]

# берем данные для валидации matching модели
data_val_matcher = data[(data['week_no'] >= data['week_no'].max() - (VAL_MATCHER_WEEKS + VAL_RANKER_WEEKS)) &
                      (data['week_no'] < data['week_no'].max() - (VAL_RANKER_WEEKS))]


# берем данные для тренировки ranking модели
data_train_ranker = data_val_matcher.copy()  # Для наглядности. Далее мы добавим изменения, и они будут отличаться

# берем данные для теста ranking, matching модели
data_val_ranker = data[data['week_no'] >= data['week_no'].max() - VAL_RANKER_WEEKS]

In [6]:
print_stats_data(data_train_matcher,'train_matcher')
print_stats_data(data_val_matcher,'val_matcher')
print_stats_data(data_train_ranker,'train_ranker')
print_stats_data(data_val_ranker,'val_ranker')

train_matcher
Shape: (2136728, 12) Users: 2498 Items: 84180
val_matcher
Shape: (141762, 12) Users: 2097 Items: 25770
train_ranker
Shape: (141762, 12) Users: 2097 Items: 25770
val_ranker
Shape: (118314, 12) Users: 2042 Items: 24329

Проведем префильтрацию данных

In [7]:
n_items_before = data_train_matcher['item_id'].nunique()

data_train_matcher = prefilter_items(data_train_matcher, item_features=item_features, take_n_popular=20000)

n_items_after = data_train_matcher['item_id'].nunique()
print('Decreased # items from {} to {}'.format(n_items_before, n_items_after))

C:\Users\aermo\Desktop\Rec_systems\course_project/src\utils.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['price'] = data['sales_value'] / (np.maximum(data['quantity'], 1))

Decreased # items from 84180 to 20001

Оставим только пользователей, которые встречаются в тренировочном датасете

In [8]:
# ищем общих пользователей
common_users = data_train_matcher.user_id.values

data_val_matcher = data_val_matcher[data_val_matcher.user_id.isin(common_users)]
data_train_ranker = data_train_ranker[data_train_ranker.user_id.isin(common_users)]
data_val_ranker = data_val_ranker[data_val_ranker.user_id.isin(common_users)]

print_stats_data(data_train_matcher,'train_matcher')
print_stats_data(data_val_matcher,'val_matcher')
print_stats_data(data_train_ranker,'train_ranker')
print_stats_data(data_val_ranker,'val_ranker')

train_matcher
Shape: (872777, 13) Users: 2496 Items: 20001
val_matcher
Shape: (141737, 12) Users: 2095 Items: 25768
train_ranker
Shape: (141737, 12) Users: 2095 Items: 25768
val_ranker
Shape: (118282, 12) Users: 2040 Items: 24325

#  Построение модели первого уровня

In [9]:
recommender = MainRecommender(data_train_matcher)

WARNING:root:Intel MKL BLAS detected. Its highly recommend to set the environment variable 'export MKL_NUM_THREADS=1' to disable its internal multithreading

  0%|          | 0/15 [00:00<?, ?it/s]

  0%|          | 0/20001 [00:00<?, ?it/s]

In [10]:
ACTUAL_COL = 'actual'
result_eval_matcher = data_val_matcher.groupby(USER_COL)[ITEM_COL].unique().reset_index()
result_eval_matcher.columns=[USER_COL, ACTUAL_COL]
result_eval_matcher.head(2)

   user_id                                             actual
0        1  [1005186, 907466, 909497, 940947, 963542, 1067...
1        2  [15830248, 838136, 839656, 861272, 866211, 870...

In [11]:
models = {'own_rec': recommender.get_own_recommendations, 
          'sim_item_rec': recommender.get_similar_items_recommendation, 
          'als_rec': recommender.get_als_recommendations, 
          'sim_user_rec': recommender.get_similar_users_recommendation}

for column_name, model in models.items():
    result_eval_matcher[column_name] = make_recommendations(result_eval_matcher, model)

In [12]:
result_eval_matcher.head(2)

,user_id,actual,own_rec,sim_item_rec,als_rec,sim_user_rec
0,1,"[1005186, 907466, 909497, 940947, 963542, 1067...","[7167962, 896666, 1087895, 900875, 1024128, 85...","[880007, 1031087, 5563739, 8091643, 9803207, 9...","[883589, 856942, 821292, 13008459, 900875, 110...","[9655175, 1092295, 819549, 825160, 904021, 103..."
1,2,"[15830248, 838136, 839656, 861272, 866211, 870...","[9807181, 13133763, 1107760, 7463018, 944568, ...","[8090509, 1029743, 1059902, 985999, 920654, 11...","[1087547, 916122, 1029743, 881121, 5568729, 67...","[1082700, 7432119, 1071196, 933918, 1128882, 9..."

In [13]:
TOPK_RECALL = 500
sorted(calc_recall(result_eval_matcher, TOPK_RECALL), key=lambda x: x[1],reverse=True)

[('own_rec', 0.16829698695837966),
 ('sim_item_rec', 0.12873881960612904),
 ('als_rec', 0.12302629421548907),
 ('sim_user_rec', 0.010128428859075247)]

 лучшие результаты показывает модель на основе предыдущих покупок пользователя

# Генерация признаков для модели второго уровня

In [14]:
# взяли пользователей из трейна для ранжирования
N_PREDICT = 500

df_match_candidates = pd.DataFrame(data_train_ranker[USER_COL].unique())
df_match_candidates.columns = [USER_COL]

df_match_candidates['candidates'] = make_recommendations(df_match_candidates, recommender.get_own_recommendations, 
                                                         N_PREDICT=N_PREDICT)

df_items = df_match_candidates.apply(lambda x: pd.Series(x['candidates']), axis=1).stack().reset_index(level=1, drop=True)
df_items.name = 'item_id'
df_match_candidates = df_match_candidates.drop('candidates', axis=1).join(df_items)

df_match_candidates.head()

   user_id  item_id
0     1827   942763
0     1827   913958
0     1827   928263
0     1827   842342
0     1827  6464173

In [15]:
df_ranker_train = data_train_ranker[[USER_COL, ITEM_COL]].copy()
df_ranker_train['target'] = 1  # тут только покупки 

df_ranker_train = df_match_candidates.merge(df_ranker_train, on=[USER_COL, ITEM_COL], how='left')

# чистим дубликаты
df_ranker_train = df_ranker_train.drop_duplicates(subset=[USER_COL, ITEM_COL])

df_ranker_train['target'].fillna(0, inplace= True)

df_ranker_train.head()

   user_id  item_id  target
0     1827   942763     0.0
1     1827   913958     0.0
2     1827   928263     0.0
3     1827   842342     0.0
4     1827  6464173     0.0

In [16]:
df_ranker_train.target.value_counts()

0.0    1022845
1.0      19403
Name: target, dtype: int64

In [17]:
df_ranker_train = df_ranker_train.merge(item_features, on='item_id', how='left')
df_ranker_train = df_ranker_train.merge(user_features, on='user_id', how='left')

df_ranker_train.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc
0,1827,942763,0.0,4951,DRUG GM,National,COLD AND FLU,COLD AND FLU - PSE,24 CT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1827,913958,0.0,720,DRUG GM,National,ORAL HYGIENE PRODUCTS,ORAL HYGIENE BRUSHES,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Сгенерируем новые признаки и добавим их к датасету для обучения.

In [18]:
# Добавим параметр категории к исходному обучающему датасету для удобства создания новых фичей
data_department = data_train_ranker.merge(item_features[['item_id', 'department']], on='item_id', how='inner')
data_department.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,department
0,1827,40702967646,601,891141,2,2.73,33923,0.0,7,87,0.0,0.0,PRODUCE
1,496,40739402373,603,891141,1,1.83,445,0.0,2226,87,0.0,0.0,PRODUCE

In [19]:
# Средная цена купленных товаров пользователем
users_sales = data_train_ranker.groupby(USER_COL)[['sales_value', 'quantity']].sum().reset_index()
users_sales['avg_price'] = users_sales['sales_value'] / users_sales['quantity']
df_ranker_train = df_ranker_train.merge(users_sales[['user_id', 'avg_price']], on='user_id', how='left')
df_ranker_train.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,avg_price
0,1827,942763,0.0,4951,DRUG GM,National,COLD AND FLU,COLD AND FLU - PSE,24 CT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.208947
1,1827,913958,0.0,720,DRUG GM,National,ORAL HYGIENE PRODUCTS,ORAL HYGIENE BRUSHES,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.208947

In [20]:
# Количество покупок в каждой категории и средная сумма покупки в каждой категории для пользователя
users_sales_department = data_department.groupby([USER_COL, 'department'])\
                        [['sales_value', 'quantity']].sum().reset_index()
users_sales_department.rename(columns={'quantity': 'n_sold_category'}, inplace=True)
users_sales_department['avg_transaction_category'] = users_sales_department['sales_value']\
                                                    /users_sales_department['n_sold_category']
users_sales_department.drop(columns=['sales_value'], inplace=True)

df_ranker_train = df_ranker_train.merge(
    users_sales_department, on=[USER_COL, 'department'], how='left')
df_ranker_train['Missing n_sold_category'] = 0
df_ranker_train.loc[df_ranker_train['n_sold_category'].isna(), 'Missing n_sold_category'] = 1
df_ranker_train['n_sold_category'].fillna(0, inplace=True)

df_ranker_train.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,avg_price,n_sold_category,avg_transaction_category,Missing n_sold_category
0,1827,942763,0.0,4951,DRUG GM,National,COLD AND FLU,COLD AND FLU - PSE,24 CT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.208947,2.0,1.0,0
1,1827,913958,0.0,720,DRUG GM,National,ORAL HYGIENE PRODUCTS,ORAL HYGIENE BRUSHES,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.208947,2.0,1.0,0

In [21]:
# Средняя сумма покупки в категории
department_sales = data_department.groupby('department')['sales_value'].mean().reset_index()
department_sales.rename(columns={'sales_value': 'mean_sales_value_category'}, inplace=True)
department_sales.tail(2)

n_weeks = data_department['week_no'].max() - data_department['week_no'].min() + 1

# Количество покупок юзером конкретной категории в неделю
users_department = data_department.groupby([USER_COL, 'department'])['quantity'].sum().reset_index()
users_department['quantity'] /= n_weeks
users_department.rename(columns={'quantity': 'n_sold_category_user_week'}, inplace=True)

df_ranker_train = df_ranker_train.merge(department_sales, on='department', how='left')
df_ranker_train = df_ranker_train.merge(users_department, on=[USER_COL, 'department'], how='left')
df_ranker_train.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,...,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,avg_price,n_sold_category,avg_transaction_category,Missing n_sold_category,mean_sales_value_category,n_sold_category_user_week
0,1827,942763,0.0,4951,DRUG GM,National,COLD AND FLU,COLD AND FLU - PSE,24 CT,NaN,...,NaN,NaN,NaN,NaN,2.208947,2.0,1.0,0,3.994219,0.4
1,1827,913958,0.0,720,DRUG GM,National,ORAL HYGIENE PRODUCTS,ORAL HYGIENE BRUSHES,,NaN,...,NaN,NaN,NaN,NaN,2.208947,2.0,1.0,0,3.994219,0.4

In [22]:
# Цена
items_sales = data_department.groupby(ITEM_COL)[['sales_value', 'quantity']].sum().reset_index()
items_sales['price'] = items_sales['sales_value'] / items_sales['quantity']
items_sales['price'].fillna(0, inplace=True)

# Количество покупок товара в неделю
items_sales['quantity_per_week'] = items_sales['quantity'] / n_weeks


df_ranker_train = df_ranker_train.merge(items_sales[[ITEM_COL,'price', 'quantity_per_week']],
                                        on=ITEM_COL, how='left')

df_ranker_train['Missing price'] = 0
df_ranker_train.loc[df_ranker_train['price'].isna(), 'Missing price'] = 1
df_ranker_train['price'].fillna(0, inplace=True)

df_ranker_train['Missing quantity per week'] = 0
df_ranker_train.loc[df_ranker_train['quantity_per_week'].isna(), 'Missing quantity per week'] = 1
df_ranker_train['quantity_per_week'].fillna(0, inplace=True)

df_ranker_train.head()

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,...,avg_price,n_sold_category,avg_transaction_category,Missing n_sold_category,mean_sales_value_category,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week
0,1827,942763,0.0,4951,DRUG GM,National,COLD AND FLU,COLD AND FLU - PSE,24 CT,NaN,...,2.208947,2.0,1.0000,0,3.994219,0.4,0.00,0.0,1,1
1,1827,913958,0.0,720,DRUG GM,National,ORAL HYGIENE PRODUCTS,ORAL HYGIENE BRUSHES,,NaN,...,2.208947,2.0,1.0000,0,3.994219,0.4,0.00,0.0,1,1
2,1827,928263,0.0,69,DRUG GM,Private,DIAPERS & DISPOSABLES,BABY DIAPERS,13 CT,NaN,...,2.208947,2.0,1.0000,0,3.994219,0.4,7.99,2.0,0,0
3,1827,842342,0.0,42,DRUG GM,National,CANDY - PACKAGED,CANDY & BREATH MINTS (PKGD) (N,,NaN,...,2.208947,2.0,1.0000,0,3.994219,0.4,2.59,0.2,0,0
4,1827,6464173,0.0,938,GROCERY,National,FROZEN PIE/DESSERTS,FROZEN CREAM PIES,5.2 OZ,NaN,...,2.208947,25.0,2.2408,0,2.541433,5.0,2.29,0.2,0,0

In [23]:
# Количество уникальных магазинов, в которых продавался товар
items_stores = data_department.groupby(ITEM_COL)['store_id'].nunique().reset_index()
items_stores.rename(columns={'store_id': 'n_unique_stores'}, inplace=True)
df_ranker_train = df_ranker_train.merge(items_stores, on=ITEM_COL, how='left')

df_ranker_train.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,...,n_sold_category,avg_transaction_category,Missing n_sold_category,mean_sales_value_category,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week,n_unique_stores
0,1827,942763,0.0,4951,DRUG GM,National,COLD AND FLU,COLD AND FLU - PSE,24 CT,NaN,...,2.0,1.0,0,3.994219,0.4,0.0,0.0,1,1,NaN
1,1827,913958,0.0,720,DRUG GM,National,ORAL HYGIENE PRODUCTS,ORAL HYGIENE BRUSHES,,NaN,...,2.0,1.0,0,3.994219,0.4,0.0,0.0,1,1,NaN

In [24]:
# Среднее количество транзакций клиента в неделю
users_transactions = data_department.groupby(USER_COL)[ITEM_COL].count().reset_index()
users_transactions.rename(columns={'item_id': 'n_transactions_per_week'}, inplace=True)
users_transactions['n_transactions_per_week'] /= n_weeks


df_ranker_train = df_ranker_train.merge(users_transactions, on=USER_COL, how='left')

df_ranker_train.tail(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,...,avg_transaction_category,Missing n_sold_category,mean_sales_value_category,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week,n_unique_stores,n_transactions_per_week
1042246,1745,1051516,0.0,2,PRODUCE,National,VEGETABLES - ALL OTHERS,BEANS,25 LB,45-54,...,NaN,1,2.327130,NaN,1.523261,18.4,0,0,54.0,0.6
1042247,1745,6602729,0.0,1769,MEAT,National,TURKEY,GROUND TURKEY,1.3LB,45-54,...,NaN,1,6.552912,NaN,4.990000,3.6,0,0,8.0,0.6

In [25]:
# Средний чек
users_sales = data_train_ranker.groupby(USER_COL)['sales_value'].mean().reset_index()
users_sales.rename(columns={'sales_value': 'avg_cheque'}, inplace=True)
df_ranker_train = df_ranker_train.merge(users_sales[['user_id', 'avg_cheque']], on='user_id', how='left')
df_ranker_train.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,...,Missing n_sold_category,mean_sales_value_category,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week,n_unique_stores,n_transactions_per_week,avg_cheque
0,1827,942763,0.0,4951,DRUG GM,National,COLD AND FLU,COLD AND FLU - PSE,24 CT,NaN,...,0,3.994219,0.4,0.0,0.0,1,1,NaN,6.0,2.798
1,1827,913958,0.0,720,DRUG GM,National,ORAL HYGIENE PRODUCTS,ORAL HYGIENE BRUSHES,,NaN,...,0,3.994219,0.4,0.0,0.0,1,1,NaN,6.0,2.798

In [26]:
# Среднее количество уникальных категорий в корзине
users_baskets = data_department.groupby([USER_COL, 'basket_id'])['department'].nunique().reset_index()
users_baskets = users_baskets.groupby(USER_COL)['department'].mean().reset_index()
users_baskets.rename(columns={'department': 'avg_basket_department'}, inplace=True)
df_ranker_train = df_ranker_train.merge(users_baskets[['user_id', 'avg_basket_department']], on='user_id', how='left')
df_ranker_train.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,...,mean_sales_value_category,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week,n_unique_stores,n_transactions_per_week,avg_cheque,avg_basket_department
0,1827,942763,0.0,4951,DRUG GM,National,COLD AND FLU,COLD AND FLU - PSE,24 CT,NaN,...,3.994219,0.4,0.0,0.0,1,1,NaN,6.0,2.798,2.4
1,1827,913958,0.0,720,DRUG GM,National,ORAL HYGIENE PRODUCTS,ORAL HYGIENE BRUSHES,,NaN,...,3.994219,0.4,0.0,0.0,1,1,NaN,6.0,2.798,2.4

Построим признак, отражающий средний интервал между покупками пользователя.

In [27]:
users_days = data_department.groupby(USER_COL)['day'].unique().reset_index()
users_days['day'] = users_days['day'].apply(lambda x: sorted(x))
users_days.head()

   user_id                                                day
0        1                     [606, 608, 610, 620, 622, 632]
1        2                               [608, 614, 620, 622]
2        4                                    [605, 617, 627]
3        6  [603, 607, 610, 611, 616, 619, 620, 624, 627, ...
4        7                          [606, 610, 614, 623, 629]

In [28]:
def avg_ndays(days):
    diff = 0
    if len(days) > 1:
        for i in range(len(days) - 1):
            diff += days[i+1] - days[i]
        return diff / (len(days) - 1)
    else:
        return 0
    
users_days['avg_interval'] = users_days['day'].apply(avg_ndays)

df_ranker_train = df_ranker_train.merge(users_days[['user_id', 'avg_interval']], on='user_id', how='left')
df_ranker_train.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,...,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week,n_unique_stores,n_transactions_per_week,avg_cheque,avg_basket_department,avg_interval
0,1827,942763,0.0,4951,DRUG GM,National,COLD AND FLU,COLD AND FLU - PSE,24 CT,NaN,...,0.4,0.0,0.0,1,1,NaN,6.0,2.798,2.4,7.0
1,1827,913958,0.0,720,DRUG GM,National,ORAL HYGIENE PRODUCTS,ORAL HYGIENE BRUSHES,,NaN,...,0.4,0.0,0.0,1,1,NaN,6.0,2.798,2.4,7.0

Построим признак, в котором будет закодировано место товара в пяти последних покупках клиента.

In [29]:
users_items = data_train_ranker.groupby(USER_COL)[ITEM_COL].apply(list).reset_index()
users_items['item_id'] = users_items['item_id'].apply(lambda x: x[-5:])
users_items.head()

   user_id                                            item_id
0        1     [5577022, 8293439, 9526676, 9527558, 10149640]
1        2  [7407562, 10149597, 13776981, 15572067, 17215077]
2        4       [963365, 1038692, 1133312, 5570830, 7431408]
3        6       [1099058, 895268, 1017061, 1082185, 1119051]
4        7  [9837501, 12524016, 13072715, 13987153, 13987338]

In [30]:
def code_last_sales(x, df=users_items):
    last_sales = df.loc[df['user_id'] == x[0], 'item_id'].item()
    code = str()
    last_sales.reverse()
    for item in last_sales:
        code += '1' if item == x[1] else '0'
    return code

df_ranker_train['Last5sales'] = df_ranker_train[[USER_COL, ITEM_COL]].apply(code_last_sales, axis=1)
df_ranker_train.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,...,price,quantity_per_week,Missing price,Missing quantity per week,n_unique_stores,n_transactions_per_week,avg_cheque,avg_basket_department,avg_interval,Last5sales
0,1827,942763,0.0,4951,DRUG GM,National,COLD AND FLU,COLD AND FLU - PSE,24 CT,NaN,...,0.0,0.0,1,1,NaN,6.0,2.798,2.4,7.0,00000
1,1827,913958,0.0,720,DRUG GM,National,ORAL HYGIENE PRODUCTS,ORAL HYGIENE BRUSHES,,NaN,...,0.0,0.0,1,1,NaN,6.0,2.798,2.4,7.0,00000

Построим модель Word2Vec для получения эмбеддингов товаров

In [31]:
df_ = data_train_ranker.groupby(USER_COL)[ITEM_COL].unique().reset_index()
df_.head()

   user_id                                            item_id
0        1  [1005186, 907466, 909497, 940947, 963542, 1067...
1        2  [15830248, 838136, 839656, 861272, 866211, 870...
2        4  [883932, 970760, 1035676, 1055863, 1097610, 67...
3        6  [873654, 994928, 1098844, 1122879, 8357613, 98...
4        7  [836281, 843306, 845294, 914190, 920456, 93886...

In [32]:
purchases = []

for user in df_['user_id']:
    purchases.append([str(item) for item in df_[df_['user_id'] == user].item_id.values[0]])
    
print(f"Total # of Sessions: {len(purchases)}")

Total # of Sessions: 2095

In [33]:
w2v_model = Word2Vec(min_count=1, vector_size=100, sg=1, workers=3)
w2v_model.build_vocab(purchases, progress_per=100)
w2v_model.train(purchases, total_examples=w2v_model.corpus_count, epochs=12, report_delay=1)

(1450996, 1457916)

In [34]:
def word2vec_len(itemid):
    try:
        return sum([i**2 for i in w2v_model.wv[str(itemid)]])
    except:
        return -1

df_ranker_train['Word2Vec_length'] = df_ranker_train[ITEM_COL].apply(lambda x: word2vec_len(x))
df_ranker_train.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,...,quantity_per_week,Missing price,Missing quantity per week,n_unique_stores,n_transactions_per_week,avg_cheque,avg_basket_department,avg_interval,Last5sales,Word2Vec_length
0,1827,942763,0.0,4951,DRUG GM,National,COLD AND FLU,COLD AND FLU - PSE,24 CT,NaN,...,0.0,1,1,NaN,6.0,2.798,2.4,7.0,00000,-1.0
1,1827,913958,0.0,720,DRUG GM,National,ORAL HYGIENE PRODUCTS,ORAL HYGIENE BRUSHES,,NaN,...,0.0,1,1,NaN,6.0,2.798,2.4,7.0,00000,-1.0

In [35]:
def avg_word2vec(items):
    return sum([w2v_model.wv[str(item)] for item in items]) / len(items)

df_['Avg_Word2Vec'] = df_[ITEM_COL].apply(avg_word2vec)
df_.head()

,user_id,item_id,Avg_Word2Vec
0,1,"[1005186, 907466, 909497, 940947, 963542, 1067...","[-0.10641853, 0.1835677, 0.21097258, 0.0324307..."
1,2,"[15830248, 838136, 839656, 861272, 866211, 870...","[-0.08931988, 0.255342, 0.19888788, 0.08634065..."
2,4,"[883932, 970760, 1035676, 1055863, 1097610, 67...","[-0.097336695, 0.22907256, 0.21010162, 0.04670..."
3,6,"[873654, 994928, 1098844, 1122879, 8357613, 98...","[-0.08162051, 0.23737237, 0.19490752, 0.056757..."
4,7,"[836281, 843306, 845294, 914190, 920456, 93886...","[-0.10343934, 0.21685547, 0.21724707, 0.032269..."

In [36]:
def get_w2v_distance(x, df=df_):
    avg_w2v = df.loc[df_[USER_COL] == x[0], 'Avg_Word2Vec'].item()
    try:
        return sum((w2v_model.wv[str(x[1])] - avg_w2v) ** 2)
    except:
        return -1
    
df_ranker_train['Word2Vec_distance_from_avg'] = df_ranker_train[[USER_COL, ITEM_COL]].\
                                                apply(get_w2v_distance, axis=1)
df_ranker_train.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,...,Missing price,Missing quantity per week,n_unique_stores,n_transactions_per_week,avg_cheque,avg_basket_department,avg_interval,Last5sales,Word2Vec_length,Word2Vec_distance_from_avg
0,1827,942763,0.0,4951,DRUG GM,National,COLD AND FLU,COLD AND FLU - PSE,24 CT,NaN,...,1,1,NaN,6.0,2.798,2.4,7.0,00000,-1.0,-1.0
1,1827,913958,0.0,720,DRUG GM,National,ORAL HYGIENE PRODUCTS,ORAL HYGIENE BRUSHES,,NaN,...,1,1,NaN,6.0,2.798,2.4,7.0,00000,-1.0,-1.0

# Построение модели второго уровня

In [37]:
X_train = df_ranker_train.drop(['target', 
                                'Missing n_sold_category', 
                                'n_sold_category_user_week', 
                                'mean_sales_value_category',], axis=1)
y_train = df_ranker_train['target']

In [38]:
cat_feats = ['manufacturer', 
             'department', 
             'brand', 
             'commodity_desc',
             'sub_commodity_desc',
             'curr_size_of_product',
             'age_desc',
             'marital_status_code',
             'income_desc',
             'homeowner_desc',
             'hh_comp_desc',
             'household_size_desc',
             'kid_category_desc',
             'Missing price',
             'Missing quantity per week',
             'Last5sales',
            ]


for column in cat_feats:
    X_train[column].fillna(0, inplace=True)
    
X_train[cat_feats] = X_train[cat_feats].astype('category')

In [70]:
%%time
cb = CatBoostClassifier(learning_rate=0.1,
                        max_depth=12,
                        n_estimators=800,
                        random_state=42, 
                        cat_features=cat_feats, 
                        silent=False)

cb.fit(X_train, y_train)

train_preds = cb.predict_proba(X_train)

0:	learn: 0.4846482	total: 3.88s	remaining: 51m 39s
1:	learn: 0.3548829	total: 7.58s	remaining: 50m 25s
2:	learn: 0.2712886	total: 8.29s	remaining: 36m 41s
3:	learn: 0.2154374	total: 10.6s	remaining: 35m 9s
4:	learn: 0.1711487	total: 13.3s	remaining: 35m 20s
5:	learn: 0.1407452	total: 14.9s	remaining: 32m 56s
6:	learn: 0.1202079	total: 19.3s	remaining: 36m 21s
7:	learn: 0.1079716	total: 21.2s	remaining: 34m 58s
8:	learn: 0.0982735	total: 25.5s	remaining: 37m 25s
9:	learn: 0.0910219	total: 29.6s	remaining: 38m 57s
10:	learn: 0.0861731	total: 33.4s	remaining: 39m 54s
11:	learn: 0.0825683	total: 37.4s	remaining: 40m 54s
12:	learn: 0.0796318	total: 41.3s	remaining: 41m 38s
13:	learn: 0.0774122	total: 45.1s	remaining: 42m 9s
14:	learn: 0.0757445	total: 49.2s	remaining: 42m 56s
15:	learn: 0.0742896	total: 53.1s	remaining: 43m 21s
16:	learn: 0.0732508	total: 57.4s	remaining: 44m 5s
17:	learn: 0.0723591	total: 1m 2s	remaining: 44m 56s
18:	learn: 0.0716588	total: 1m 5s	remaining: 45m 1s
19:	learn: 0.0709594	total: 1m 9s	remaining: 45m 26s
20:	learn: 0.0705533	total: 1m 13s	remaining: 45m 39s
21:	learn: 0.0699693	total: 1m 17s	remaining: 45m 52s
22:	learn: 0.0694394	total: 1m 22s	remaining: 46m 14s
23:	learn: 0.0689084	total: 1m 26s	remaining: 46m 41s
24:	learn: 0.0682923	total: 1m 31s	remaining: 47m 18s
25:	learn: 0.0678720	total: 1m 36s	remaining: 47m 55s
26:	learn: 0.0674971	total: 1m 41s	remaining: 48m 13s
27:	learn: 0.0671757	total: 1m 45s	remaining: 48m 42s
28:	learn: 0.0669146	total: 1m 50s	remaining: 49m 7s
29:	learn: 0.0666333	total: 1m 56s	remaining: 49m 41s
30:	learn: 0.0663938	total: 2m 1s	remaining: 50m 3s
31:	learn: 0.0662658	total: 2m 5s	remaining: 50m 16s
32:	learn: 0.0660556	total: 2m 10s	remaining: 50m 43s
33:	learn: 0.0659695	total: 2m 15s	remaining: 50m 41s
34:	learn: 0.0659030	total: 2m 19s	remaining: 50m 49s
35:	learn: 0.0657384	total: 2m 23s	remaining: 50m 55s
36:	learn: 0.0655872	total: 2m 28s	remaining: 51m 5s
37:	learn: 0.0653601	total: 2m 32s	remaining: 51m 5s
38:	learn: 0.0652016	total: 2m 37s	remaining: 51m 8s
39:	learn: 0.0650672	total: 2m 41s	remaining: 51m 1s
40:	learn: 0.0649200	total: 2m 45s	remaining: 51m 5s
41:	learn: 0.0647890	total: 2m 50s	remaining: 51m 19s
42:	learn: 0.0646159	total: 2m 55s	remaining: 51m 24s
43:	learn: 0.0645002	total: 2m 58s	remaining: 51m 13s
44:	learn: 0.0643317	total: 3m 3s	remaining: 51m 17s
45:	learn: 0.0642159	total: 3m 7s	remaining: 51m 14s
46:	learn: 0.0641300	total: 3m 12s	remaining: 51m 17s
47:	learn: 0.0639875	total: 3m 16s	remaining: 51m 21s
48:	learn: 0.0638577	total: 3m 21s	remaining: 51m 22s
49:	learn: 0.0637035	total: 3m 25s	remaining: 51m 17s
50:	learn: 0.0636285	total: 3m 29s	remaining: 51m 15s
51:	learn: 0.0635321	total: 3m 34s	remaining: 51m 19s
52:	learn: 0.0633894	total: 3m 38s	remaining: 51m 19s
53:	learn: 0.0632759	total: 3m 43s	remaining: 51m 23s
54:	learn: 0.0632080	total: 3m 48s	remaining: 51m 29s
55:	learn: 0.0631160	total: 3m 52s	remaining: 51m 31s
56:	learn: 0.0630343	total: 3m 57s	remaining: 51m 34s
57:	learn: 0.0629707	total: 4m 2s	remaining: 51m 37s
58:	learn: 0.0628507	total: 4m 6s	remaining: 51m 36s
59:	learn: 0.0627470	total: 4m 11s	remaining: 51m 42s
60:	learn: 0.0627134	total: 4m 15s	remaining: 51m 36s
61:	learn: 0.0626034	total: 4m 19s	remaining: 51m 32s
62:	learn: 0.0625486	total: 4m 23s	remaining: 51m 26s
63:	learn: 0.0625052	total: 4m 28s	remaining: 51m 30s
64:	learn: 0.0623977	total: 4m 33s	remaining: 51m 30s
65:	learn: 0.0623264	total: 4m 38s	remaining: 51m 33s
66:	learn: 0.0622531	total: 4m 42s	remaining: 51m 31s
67:	learn: 0.0621339	total: 4m 47s	remaining: 51m 33s
68:	learn: 0.0620613	total: 4m 52s	remaining: 51m 37s
69:	learn: 0.0620319	total: 4m 56s	remaining: 51m 34s
70:	learn: 0.0619275	total: 5m	remaining: 51m 25s
71:	learn: 0.0618392	total: 5m 5s	remaining: 51m 24s
72:	learn: 0.0618101	total: 5m 9s	remaining: 51m 22s
73:	learn: 0.0616815	total: 5m 14s	remaining: 51m 25s
74:	learn: 0.0616220	total: 5m 19s	remaining: 51m 25s
75:	learn: 0.0615047	total: 5m 24s	remaining: 51m 29s
76:	learn: 0.0614421	total: 5m 29s	remaining: 51m 29s
77:	learn: 0.0613594	total: 5m 33s	remaining: 51m 29s
78:	learn: 0.0613206	total: 5m 38s	remaining: 51m 28s
79:	learn: 0.0612820	total: 5m 42s	remaining: 51m 26s
80:	learn: 0.0611735	total: 5m 47s	remaining: 51m 25s
81:	learn: 0.0610999	total: 5m 53s	remaining: 51m 32s
82:	learn: 0.0610455	total: 5m 57s	remaining: 51m 28s
83:	learn: 0.0609528	total: 6m 1s	remaining: 51m 25s
84:	learn: 0.0609093	total: 6m 6s	remaining: 51m 22s
85:	learn: 0.0608491	total: 6m 10s	remaining: 51m 17s
86:	learn: 0.0608148	total: 6m 15s	remaining: 51m 14s
87:	learn: 0.0607852	total: 6m 20s	remaining: 51m 17s
88:	learn: 0.0606736	total: 6m 24s	remaining: 51m 13s
89:	learn: 0.0605994	total: 6m 29s	remaining: 51m 11s
90:	learn: 0.0605903	total: 6m 33s	remaining: 51m 8s
91:	learn: 0.0604925	total: 6m 37s	remaining: 51m 1s
92:	learn: 0.0604054	total: 6m 42s	remaining: 50m 57s
93:	learn: 0.0603471	total: 6m 47s	remaining: 50m 56s
94:	learn: 0.0602828	total: 6m 51s	remaining: 50m 54s
95:	learn: 0.0602209	total: 6m 56s	remaining: 50m 57s
96:	learn: 0.0601748	total: 7m 2s	remaining: 50m 59s
97:	learn: 0.0601112	total: 7m 7s	remaining: 51m
98:	learn: 0.0600390	total: 7m 11s	remaining: 50m 58s
99:	learn: 0.0599478	total: 7m 17s	remaining: 50m 59s
100:	learn: 0.0599277	total: 7m 21s	remaining: 50m 56s
101:	learn: 0.0598382	total: 7m 26s	remaining: 50m 58s
102:	learn: 0.0597514	total: 7m 31s	remaining: 50m 53s
103:	learn: 0.0597183	total: 7m 35s	remaining: 50m 51s
104:	learn: 0.0596295	total: 7m 40s	remaining: 50m 50s
105:	learn: 0.0595903	total: 7m 46s	remaining: 50m 51s
106:	learn: 0.0594892	total: 7m 50s	remaining: 50m 47s
107:	learn: 0.0594860	total: 7m 51s	remaining: 50m 22s
108:	learn: 0.0594626	total: 7m 56s	remaining: 50m 21s
109:	learn: 0.0593380	total: 8m 1s	remaining: 50m 17s
110:	learn: 0.0593219	total: 8m 6s	remaining: 50m 17s
111:	learn: 0.0592312	total: 8m 10s	remaining: 50m 10s
112:	learn: 0.0592234	total: 8m 14s	remaining: 50m 9s
113:	learn: 0.0591747	total: 8m 19s	remaining: 50m 5s
114:	learn: 0.0591204	total: 8m 24s	remaining: 50m 2s
115:	learn: 0.0590397	total: 8m 28s	remaining: 49m 59s
116:	learn: 0.0589850	total: 8m 33s	remaining: 49m 58s
117:	learn: 0.0589250	total: 8m 37s	remaining: 49m 51s
118:	learn: 0.0588883	total: 8m 41s	remaining: 49m 45s
119:	learn: 0.0588628	total: 8m 46s	remaining: 49m 44s
120:	learn: 0.0587957	total: 8m 50s	remaining: 49m 39s
121:	learn: 0.0587434	total: 8m 55s	remaining: 49m 36s
122:	learn: 0.0586524	total: 9m	remaining: 49m 34s
123:	learn: 0.0586251	total: 9m 5s	remaining: 49m 31s
124:	learn: 0.0585607	total: 9m 9s	remaining: 49m 26s
125:	learn: 0.0585114	total: 9m 13s	remaining: 49m 21s
126:	learn: 0.0583578	total: 9m 18s	remaining: 49m 17s
127:	learn: 0.0583308	total: 9m 22s	remaining: 49m 13s
128:	learn: 0.0582742	total: 9m 27s	remaining: 49m 13s
129:	learn: 0.0582291	total: 9m 31s	remaining: 49m 7s
130:	learn: 0.0581891	total: 9m 36s	remaining: 49m 6s
131:	learn: 0.0581380	total: 9m 41s	remaining: 49m 2s
132:	learn: 0.0580764	total: 9m 45s	remaining: 48m 58s
133:	learn: 0.0580284	total: 9m 49s	remaining: 48m 51s
134:	learn: 0.0579736	total: 9m 55s	remaining: 48m 51s
135:	learn: 0.0579125	total: 9m 59s	remaining: 48m 47s
136:	learn: 0.0578847	total: 10m 4s	remaining: 48m 44s
137:	learn: 0.0578467	total: 10m 8s	remaining: 48m 40s
138:	learn: 0.0577592	total: 10m 13s	remaining: 48m 37s
139:	learn: 0.0576963	total: 10m 17s	remaining: 48m 31s
140:	learn: 0.0575829	total: 10m 22s	remaining: 48m 27s
141:	learn: 0.0575692	total: 10m 26s	remaining: 48m 23s
142:	learn: 0.0575490	total: 10m 31s	remaining: 48m 20s
143:	learn: 0.0574436	total: 10m 35s	remaining: 48m 14s
144:	learn: 0.0574012	total: 10m 39s	remaining: 48m 9s
145:	learn: 0.0573357	total: 10m 43s	remaining: 48m 1s
146:	learn: 0.0572702	total: 10m 47s	remaining: 47m 58s
147:	learn: 0.0572250	total: 10m 52s	remaining: 47m 53s
148:	learn: 0.0572041	total: 10m 56s	remaining: 47m 49s
149:	learn: 0.0571703	total: 11m	remaining: 47m 43s
150:	learn: 0.0571371	total: 11m 4s	remaining: 47m 37s
151:	learn: 0.0570895	total: 11m 8s	remaining: 47m 31s
152:	learn: 0.0570330	total: 11m 12s	remaining: 47m 24s

153:	learn: 0.0569675	total: 11m 17s	remaining: 47m 20s
154:	learn: 0.0569239	total: 11m 21s	remaining: 47m 17s
155:	learn: 0.0568571	total: 11m 26s	remaining: 47m 13s
156:	learn: 0.0568088	total: 11m 30s	remaining: 47m 7s
157:	learn: 0.0567294	total: 11m 34s	remaining: 47m 2s
158:	learn: 0.0566911	total: 11m 38s	remaining: 46m 56s
159:	learn: 0.0566326	total: 11m 43s	remaining: 46m 52s
160:	learn: 0.0565536	total: 11m 47s	remaining: 46m 47s
161:	learn: 0.0565207	total: 11m 51s	remaining: 46m 40s
162:	learn: 0.0564541	total: 11m 55s	remaining: 46m 35s
163:	learn: 0.0564299	total: 11m 59s	remaining: 46m 30s
164:	learn: 0.0563819	total: 12m 3s	remaining: 46m 24s
165:	learn: 0.0562997	total: 12m 7s	remaining: 46m 17s
166:	learn: 0.0561737	total: 12m 11s	remaining: 46m 13s
167:	learn: 0.0561323	total: 12m 16s	remaining: 46m 11s
168:	learn: 0.0560784	total: 12m 21s	remaining: 46m 7s
169:	learn: 0.0559826	total: 12m 25s	remaining: 46m 3s
170:	learn: 0.0558707	total: 12m 29s	remaining: 45m 58s
171:	learn: 0.0557913	total: 12m 33s	remaining: 45m 52s
172:	learn: 0.0557788	total: 12m 37s	remaining: 45m 46s
173:	learn: 0.0557069	total: 12m 41s	remaining: 45m 39s
174:	learn: 0.0556709	total: 12m 45s	remaining: 45m 34s
175:	learn: 0.0555528	total: 12m 50s	remaining: 45m 30s
176:	learn: 0.0555475	total: 12m 54s	remaining: 45m 27s
177:	learn: 0.0554522	total: 12m 59s	remaining: 45m 23s
178:	learn: 0.0553578	total: 13m 3s	remaining: 45m 19s
179:	learn: 0.0553096	total: 13m 8s	remaining: 45m 16s
180:	learn: 0.0552703	total: 13m 13s	remaining: 45m 14s
181:	learn: 0.0551858	total: 13m 17s	remaining: 45m 7s
182:	learn: 0.0551329	total: 13m 22s	remaining: 45m 7s
183:	learn: 0.0550577	total: 13m 26s	remaining: 45m
184:	learn: 0.0550244	total: 13m 31s	remaining: 44m 56s
185:	learn: 0.0549950	total: 13m 35s	remaining: 44m 51s
186:	learn: 0.0549464	total: 13m 40s	remaining: 44m 48s
187:	learn: 0.0548642	total: 13m 45s	remaining: 44m 47s
188:	learn: 0.0548470	total: 13m 49s	remaining: 44m 42s
189:	learn: 0.0547600	total: 13m 53s	remaining: 44m 37s
190:	learn: 0.0546933	total: 13m 59s	remaining: 44m 37s
191:	learn: 0.0546347	total: 14m 3s	remaining: 44m 31s
192:	learn: 0.0545967	total: 14m 9s	remaining: 44m 30s
193:	learn: 0.0545586	total: 14m 14s	remaining: 44m 28s
194:	learn: 0.0544849	total: 14m 18s	remaining: 44m 23s
195:	learn: 0.0544213	total: 14m 21s	remaining: 44m 15s
196:	learn: 0.0544050	total: 14m 25s	remaining: 44m 10s
197:	learn: 0.0543085	total: 14m 29s	remaining: 44m 4s
198:	learn: 0.0542633	total: 14m 35s	remaining: 44m 2s
199:	learn: 0.0542096	total: 14m 38s	remaining: 43m 56s
200:	learn: 0.0541957	total: 14m 43s	remaining: 43m 52s
201:	learn: 0.0541761	total: 14m 47s	remaining: 43m 48s
202:	learn: 0.0540930	total: 14m 51s	remaining: 43m 41s
203:	learn: 0.0540666	total: 14m 55s	remaining: 43m 36s
204:	learn: 0.0540314	total: 15m	remaining: 43m 34s
205:	learn: 0.0540103	total: 15m 4s	remaining: 43m 28s
206:	learn: 0.0539899	total: 15m 8s	remaining: 43m 23s
207:	learn: 0.0539495	total: 15m 14s	remaining: 43m 21s
208:	learn: 0.0538952	total: 15m 17s	remaining: 43m 15s
209:	learn: 0.0537954	total: 15m 21s	remaining: 43m 9s
210:	learn: 0.0537779	total: 15m 25s	remaining: 43m 4s
211:	learn: 0.0536746	total: 15m 30s	remaining: 43m 1s
212:	learn: 0.0535866	total: 15m 35s	remaining: 42m 56s
213:	learn: 0.0535218	total: 15m 39s	remaining: 42m 52s
214:	learn: 0.0534877	total: 15m 43s	remaining: 42m 47s
215:	learn: 0.0534386	total: 15m 47s	remaining: 42m 42s
216:	learn: 0.0534147	total: 15m 51s	remaining: 42m 37s
217:	learn: 0.0533966	total: 15m 56s	remaining: 42m 33s
218:	learn: 0.0533767	total: 16m	remaining: 42m 28s
219:	learn: 0.0533250	total: 16m 4s	remaining: 42m 22s
220:	learn: 0.0532919	total: 16m 9s	remaining: 42m 20s
221:	learn: 0.0532472	total: 16m 14s	remaining: 42m 17s
222:	learn: 0.0531508	total: 16m 19s	remaining: 42m 13s
223:	learn: 0.0530390	total: 16m 24s	remaining: 42m 11s
224:	learn: 0.0529872	total: 16m 28s	remaining: 42m 6s
225:	learn: 0.0528903	total: 16m 33s	remaining: 42m 2s
226:	learn: 0.0528321	total: 16m 38s	remaining: 42m
227:	learn: 0.0527051	total: 16m 42s	remaining: 41m 56s
228:	learn: 0.0526391	total: 16m 46s	remaining: 41m 49s
229:	learn: 0.0525707	total: 16m 51s	remaining: 41m 46s
230:	learn: 0.0525416	total: 16m 56s	remaining: 41m 44s
231:	learn: 0.0524584	total: 17m 1s	remaining: 41m 40s
232:	learn: 0.0523907	total: 17m 5s	remaining: 41m 36s
233:	learn: 0.0523573	total: 17m 10s	remaining: 41m 32s
234:	learn: 0.0523273	total: 17m 13s	remaining: 41m 25s
235:	learn: 0.0522874	total: 17m 18s	remaining: 41m 21s
236:	learn: 0.0522506	total: 17m 23s	remaining: 41m 19s
237:	learn: 0.0522350	total: 17m 28s	remaining: 41m 15s
238:	learn: 0.0522162	total: 17m 32s	remaining: 41m 11s
239:	learn: 0.0521588	total: 17m 37s	remaining: 41m 7s
240:	learn: 0.0521445	total: 17m 41s	remaining: 41m 3s
241:	learn: 0.0520934	total: 17m 46s	remaining: 40m 59s
242:	learn: 0.0520681	total: 17m 51s	remaining: 40m 56s
243:	learn: 0.0520470	total: 17m 55s	remaining: 40m 51s
244:	learn: 0.0519897	total: 18m	remaining: 40m 48s
245:	learn: 0.0519446	total: 18m 5s	remaining: 40m 44s
246:	learn: 0.0519066	total: 18m 10s	remaining: 40m 41s
247:	learn: 0.0518776	total: 18m 14s	remaining: 40m 36s
248:	learn: 0.0518205	total: 18m 19s	remaining: 40m 33s
249:	learn: 0.0518019	total: 18m 24s	remaining: 40m 29s
250:	learn: 0.0517894	total: 18m 28s	remaining: 40m 24s
251:	learn: 0.0517575	total: 18m 32s	remaining: 40m 18s
252:	learn: 0.0516743	total: 18m 36s	remaining: 40m 14s
253:	learn: 0.0515749	total: 18m 40s	remaining: 40m 9s
254:	learn: 0.0515010	total: 18m 45s	remaining: 40m 5s
255:	learn: 0.0514613	total: 18m 50s	remaining: 40m 1s
256:	learn: 0.0513919	total: 18m 54s	remaining: 39m 56s
257:	learn: 0.0513434	total: 18m 58s	remaining: 39m 52s
258:	learn: 0.0512891	total: 19m 3s	remaining: 39m 49s
259:	learn: 0.0512276	total: 19m 8s	remaining: 39m 45s
260:	learn: 0.0511983	total: 19m 13s	remaining: 39m 42s
261:	learn: 0.0511703	total: 19m 17s	remaining: 39m 37s
262:	learn: 0.0511118	total: 19m 22s	remaining: 39m 33s
263:	learn: 0.0510473	total: 19m 27s	remaining: 39m 30s
264:	learn: 0.0509975	total: 19m 31s	remaining: 39m 25s
265:	learn: 0.0509195	total: 19m 35s	remaining: 39m 20s
266:	learn: 0.0508748	total: 19m 40s	remaining: 39m 16s
267:	learn: 0.0508408	total: 19m 45s	remaining: 39m 12s
268:	learn: 0.0507881	total: 19m 49s	remaining: 39m 8s
269:	learn: 0.0507734	total: 19m 55s	remaining: 39m 5s
270:	learn: 0.0507052	total: 19m 59s	remaining: 39m 1s
271:	learn: 0.0506047	total: 20m 3s	remaining: 38m 56s
272:	learn: 0.0505690	total: 20m 8s	remaining: 38m 53s
273:	learn: 0.0504943	total: 20m 13s	remaining: 38m 48s
274:	learn: 0.0504783	total: 20m 18s	remaining: 38m 46s
275:	learn: 0.0504566	total: 20m 22s	remaining: 38m 40s
276:	learn: 0.0504120	total: 20m 26s	remaining: 38m 36s
277:	learn: 0.0503608	total: 20m 30s	remaining: 38m 31s
278:	learn: 0.0502577	total: 20m 35s	remaining: 38m 26s
279:	learn: 0.0502534	total: 20m 39s	remaining: 38m 22s
280:	learn: 0.0501985	total: 20m 44s	remaining: 38m 17s
281:	learn: 0.0501460	total: 20m 48s	remaining: 38m 13s
282:	learn: 0.0501018	total: 20m 53s	remaining: 38m 9s
283:	learn: 0.0500597	total: 20m 56s	remaining: 38m 3s
284:	learn: 0.0499900	total: 21m	remaining: 37m 58s
285:	learn: 0.0499265	total: 21m 4s	remaining: 37m 52s
286:	learn: 0.0498255	total: 21m 9s	remaining: 37m 48s
287:	learn: 0.0497734	total: 21m 13s	remaining: 37m 43s
288:	learn: 0.0496934	total: 21m 17s	remaining: 37m 38s
289:	learn: 0.0496323	total: 21m 21s	remaining: 37m 33s
290:	learn: 0.0496106	total: 21m 25s	remaining: 37m 27s
291:	learn: 0.0495472	total: 21m 29s	remaining: 37m 23s
292:	learn: 0.0494658	total: 21m 33s	remaining: 37m 18s
293:	learn: 0.0494187	total: 21m 38s	remaining: 37m 15s
294:	learn: 0.0493784	total: 21m 42s	remaining: 37m 10s
295:	learn: 0.0493642	total: 21m 46s	remaining: 37m 5s
296:	learn: 0.0492753	total: 21m 50s	remaining: 37m
297:	learn: 0.0492403	total: 21m 55s	remaining: 36m 56s
298:	learn: 0.0491477	total: 21m 59s	remaining: 36m 51s
299:	learn: 0.0490874	total: 22m 4s	remaining: 36m 46s
300:	learn: 0.0490696	total: 22m 8s	remaining: 36m 42s

301:	learn: 0.0490595	total: 22m 13s	remaining: 36m 39s
302:	learn: 0.0490313	total: 22m 18s	remaining: 36m 35s
303:	learn: 0.0490008	total: 22m 23s	remaining: 36m 31s
304:	learn: 0.0489562	total: 22m 27s	remaining: 36m 27s
305:	learn: 0.0488329	total: 22m 32s	remaining: 36m 23s
306:	learn: 0.0487637	total: 22m 37s	remaining: 36m 19s
307:	learn: 0.0486905	total: 22m 41s	remaining: 36m 15s
308:	learn: 0.0486300	total: 22m 46s	remaining: 36m 11s
309:	learn: 0.0485961	total: 22m 51s	remaining: 36m 8s
310:	learn: 0.0485620	total: 22m 56s	remaining: 36m 4s
311:	learn: 0.0484738	total: 23m 1s	remaining: 36m
312:	learn: 0.0484061	total: 23m 5s	remaining: 35m 56s
313:	learn: 0.0483652	total: 23m 10s	remaining: 35m 52s
314:	learn: 0.0482855	total: 23m 15s	remaining: 35m 49s
315:	learn: 0.0482190	total: 23m 20s	remaining: 35m 45s
316:	learn: 0.0481536	total: 23m 25s	remaining: 35m 41s
317:	learn: 0.0480916	total: 23m 30s	remaining: 35m 37s
318:	learn: 0.0480658	total: 23m 35s	remaining: 35m 34s
319:	learn: 0.0479980	total: 23m 40s	remaining: 35m 30s
320:	learn: 0.0479468	total: 23m 44s	remaining: 35m 25s
321:	learn: 0.0479334	total: 23m 49s	remaining: 35m 21s
322:	learn: 0.0479135	total: 23m 54s	remaining: 35m 17s
323:	learn: 0.0478629	total: 23m 58s	remaining: 35m 12s
324:	learn: 0.0478521	total: 24m 2s	remaining: 35m 8s
325:	learn: 0.0478312	total: 24m 7s	remaining: 35m 4s
326:	learn: 0.0477817	total: 24m 12s	remaining: 35m 1s
327:	learn: 0.0477039	total: 24m 17s	remaining: 34m 56s
328:	learn: 0.0476830	total: 24m 21s	remaining: 34m 52s
329:	learn: 0.0476752	total: 24m 25s	remaining: 34m 47s
330:	learn: 0.0476229	total: 24m 30s	remaining: 34m 43s
331:	learn: 0.0476039	total: 24m 34s	remaining: 34m 39s
332:	learn: 0.0475034	total: 24m 39s	remaining: 34m 34s
333:	learn: 0.0474067	total: 24m 43s	remaining: 34m 30s
334:	learn: 0.0473379	total: 24m 48s	remaining: 34m 26s
335:	learn: 0.0473159	total: 24m 52s	remaining: 34m 21s
336:	learn: 0.0472099	total: 24m 57s	remaining: 34m 17s
337:	learn: 0.0471877	total: 25m	remaining: 34m 11s
338:	learn: 0.0471151	total: 25m 5s	remaining: 34m 7s
339:	learn: 0.0469988	total: 25m 9s	remaining: 34m 2s
340:	learn: 0.0469861	total: 25m 13s	remaining: 33m 57s
341:	learn: 0.0468897	total: 25m 17s	remaining: 33m 52s
342:	learn: 0.0468281	total: 25m 21s	remaining: 33m 47s
343:	learn: 0.0468156	total: 25m 25s	remaining: 33m 42s
344:	learn: 0.0467725	total: 25m 30s	remaining: 33m 38s
345:	learn: 0.0467696	total: 25m 34s	remaining: 33m 33s
346:	learn: 0.0467079	total: 25m 39s	remaining: 33m 29s
347:	learn: 0.0466747	total: 25m 44s	remaining: 33m 25s
348:	learn: 0.0466332	total: 25m 48s	remaining: 33m 20s
349:	learn: 0.0466030	total: 25m 52s	remaining: 33m 15s
350:	learn: 0.0465136	total: 25m 56s	remaining: 33m 10s
351:	learn: 0.0464809	total: 26m	remaining: 33m 6s
352:	learn: 0.0464066	total: 26m 5s	remaining: 33m 1s
353:	learn: 0.0463594	total: 26m 8s	remaining: 32m 56s
354:	learn: 0.0462861	total: 26m 13s	remaining: 32m 52s
355:	learn: 0.0462433	total: 26m 17s	remaining: 32m 46s
356:	learn: 0.0462337	total: 26m 21s	remaining: 32m 42s
357:	learn: 0.0461402	total: 26m 26s	remaining: 32m 38s
358:	learn: 0.0461060	total: 26m 30s	remaining: 32m 33s
359:	learn: 0.0460647	total: 26m 35s	remaining: 32m 29s
360:	learn: 0.0459632	total: 26m 39s	remaining: 32m 25s
361:	learn: 0.0458720	total: 26m 44s	remaining: 32m 21s
362:	learn: 0.0458435	total: 26m 48s	remaining: 32m 16s
363:	learn: 0.0457851	total: 26m 53s	remaining: 32m 12s
364:	learn: 0.0457649	total: 26m 58s	remaining: 32m 9s
365:	learn: 0.0457545	total: 27m 3s	remaining: 32m 4s
366:	learn: 0.0457033	total: 27m 8s	remaining: 32m
367:	learn: 0.0456865	total: 27m 13s	remaining: 31m 57s
368:	learn: 0.0456360	total: 27m 17s	remaining: 31m 53s
369:	learn: 0.0455904	total: 27m 22s	remaining: 31m 48s
370:	learn: 0.0455320	total: 27m 26s	remaining: 31m 43s
371:	learn: 0.0455099	total: 27m 31s	remaining: 31m 39s
372:	learn: 0.0455016	total: 27m 35s	remaining: 31m 35s
373:	learn: 0.0454872	total: 27m 40s	remaining: 31m 31s
374:	learn: 0.0454083	total: 27m 45s	remaining: 31m 27s
375:	learn: 0.0453986	total: 27m 50s	remaining: 31m 23s
376:	learn: 0.0453314	total: 27m 54s	remaining: 31m 19s
377:	learn: 0.0453168	total: 27m 59s	remaining: 31m 14s
378:	learn: 0.0452962	total: 28m 3s	remaining: 31m 9s
379:	learn: 0.0452641	total: 28m 8s	remaining: 31m 6s
380:	learn: 0.0451514	total: 28m 12s	remaining: 31m 1s
381:	learn: 0.0451143	total: 28m 17s	remaining: 30m 57s
382:	learn: 0.0450833	total: 28m 22s	remaining: 30m 53s
383:	learn: 0.0449598	total: 28m 27s	remaining: 30m 49s
384:	learn: 0.0449043	total: 28m 32s	remaining: 30m 45s
385:	learn: 0.0448606	total: 28m 36s	remaining: 30m 40s
386:	learn: 0.0448229	total: 28m 41s	remaining: 30m 37s
387:	learn: 0.0447659	total: 28m 45s	remaining: 30m 32s
388:	learn: 0.0447312	total: 28m 50s	remaining: 30m 28s
389:	learn: 0.0446856	total: 28m 54s	remaining: 30m 23s
390:	learn: 0.0446692	total: 28m 59s	remaining: 30m 20s
391:	learn: 0.0445981	total: 29m 4s	remaining: 30m 15s
392:	learn: 0.0445804	total: 29m 8s	remaining: 30m 11s
393:	learn: 0.0445485	total: 29m 13s	remaining: 30m 6s
394:	learn: 0.0445133	total: 29m 18s	remaining: 30m 2s
395:	learn: 0.0445057	total: 29m 23s	remaining: 29m 59s
396:	learn: 0.0444646	total: 29m 28s	remaining: 29m 55s
397:	learn: 0.0444358	total: 29m 33s	remaining: 29m 51s
398:	learn: 0.0444110	total: 29m 38s	remaining: 29m 47s
399:	learn: 0.0444018	total: 29m 42s	remaining: 29m 42s
400:	learn: 0.0443701	total: 29m 47s	remaining: 29m 38s
401:	learn: 0.0443570	total: 29m 52s	remaining: 29m 34s
402:	learn: 0.0442968	total: 29m 57s	remaining: 29m 30s
403:	learn: 0.0442896	total: 30m 2s	remaining: 29m 26s
404:	learn: 0.0442691	total: 30m 7s	remaining: 29m 23s
405:	learn: 0.0442376	total: 30m 12s	remaining: 29m 19s
406:	learn: 0.0442034	total: 30m 16s	remaining: 29m 14s
407:	learn: 0.0441015	total: 30m 21s	remaining: 29m 10s
408:	learn: 0.0440528	total: 30m 26s	remaining: 29m 6s
409:	learn: 0.0439923	total: 30m 30s	remaining: 29m 1s
410:	learn: 0.0439667	total: 30m 34s	remaining: 28m 56s
411:	learn: 0.0439131	total: 30m 39s	remaining: 28m 52s
412:	learn: 0.0438962	total: 30m 44s	remaining: 28m 48s
413:	learn: 0.0438542	total: 30m 47s	remaining: 28m 42s
414:	learn: 0.0437498	total: 30m 52s	remaining: 28m 38s
415:	learn: 0.0437118	total: 30m 56s	remaining: 28m 34s
416:	learn: 0.0435947	total: 31m 1s	remaining: 28m 29s
417:	learn: 0.0435414	total: 31m 5s	remaining: 28m 25s
418:	learn: 0.0435156	total: 31m 9s	remaining: 28m 20s
419:	learn: 0.0434623	total: 31m 14s	remaining: 28m 16s
420:	learn: 0.0433631	total: 31m 18s	remaining: 28m 10s
421:	learn: 0.0433506	total: 31m 22s	remaining: 28m 6s
422:	learn: 0.0432622	total: 31m 26s	remaining: 28m 1s
423:	learn: 0.0432435	total: 31m 31s	remaining: 27m 57s
424:	learn: 0.0431651	total: 31m 36s	remaining: 27m 53s
425:	learn: 0.0431335	total: 31m 41s	remaining: 27m 49s
426:	learn: 0.0431105	total: 31m 45s	remaining: 27m 44s
427:	learn: 0.0430481	total: 31m 49s	remaining: 27m 39s
428:	learn: 0.0430315	total: 31m 54s	remaining: 27m 35s
429:	learn: 0.0430070	total: 32m	remaining: 27m 32s
430:	learn: 0.0429647	total: 32m 4s	remaining: 27m 27s
431:	learn: 0.0429333	total: 32m 9s	remaining: 27m 23s
432:	learn: 0.0429209	total: 32m 13s	remaining: 27m 18s
433:	learn: 0.0428483	total: 32m 18s	remaining: 27m 14s
434:	learn: 0.0428338	total: 32m 22s	remaining: 27m 10s
435:	learn: 0.0428036	total: 32m 27s	remaining: 27m 5s
436:	learn: 0.0427955	total: 32m 31s	remaining: 27m 1s
437:	learn: 0.0427849	total: 32m 36s	remaining: 26m 57s
438:	learn: 0.0427351	total: 32m 41s	remaining: 26m 52s
439:	learn: 0.0426950	total: 32m 45s	remaining: 26m 48s
440:	learn: 0.0426904	total: 32m 50s	remaining: 26m 43s
441:	learn: 0.0426037	total: 32m 54s	remaining: 26m 39s
442:	learn: 0.0425807	total: 33m	remaining: 26m 35s
443:	learn: 0.0425561	total: 33m 5s	remaining: 26m 32s
444:	learn: 0.0425366	total: 33m 11s	remaining: 26m 28s
445:	learn: 0.0425117	total: 33m 16s	remaining: 26m 24s
446:	learn: 0.0424374	total: 33m 20s	remaining: 26m 19s
447:	learn: 0.0424274	total: 33m 25s	remaining: 26m 15s
448:	learn: 0.0423993	total: 33m 30s	remaining: 26m 11s

449:	learn: 0.0423723	total: 33m 35s	remaining: 26m 7s
450:	learn: 0.0423194	total: 33m 40s	remaining: 26m 3s
451:	learn: 0.0422441	total: 33m 46s	remaining: 25m 59s
452:	learn: 0.0422253	total: 33m 50s	remaining: 25m 55s
453:	learn: 0.0421780	total: 33m 56s	remaining: 25m 51s
454:	learn: 0.0421572	total: 34m 1s	remaining: 25m 48s
455:	learn: 0.0420906	total: 34m 7s	remaining: 25m 44s
456:	learn: 0.0420415	total: 34m 11s	remaining: 25m 40s
457:	learn: 0.0419626	total: 34m 16s	remaining: 25m 35s
458:	learn: 0.0418998	total: 34m 20s	remaining: 25m 30s
459:	learn: 0.0418519	total: 34m 24s	remaining: 25m 26s
460:	learn: 0.0418322	total: 34m 29s	remaining: 25m 21s
461:	learn: 0.0418150	total: 34m 34s	remaining: 25m 17s
462:	learn: 0.0418057	total: 34m 38s	remaining: 25m 12s
463:	learn: 0.0417907	total: 34m 43s	remaining: 25m 8s
464:	learn: 0.0417804	total: 34m 47s	remaining: 25m 4s
465:	learn: 0.0417638	total: 34m 52s	remaining: 24m 59s
466:	learn: 0.0416885	total: 34m 58s	remaining: 24m 56s
467:	learn: 0.0416534	total: 35m 1s	remaining: 24m 51s
468:	learn: 0.0416380	total: 35m 5s	remaining: 24m 46s
469:	learn: 0.0415621	total: 35m 10s	remaining: 24m 41s
470:	learn: 0.0414610	total: 35m 14s	remaining: 24m 37s
471:	learn: 0.0414215	total: 35m 19s	remaining: 24m 32s
472:	learn: 0.0414131	total: 35m 23s	remaining: 24m 28s
473:	learn: 0.0413848	total: 35m 28s	remaining: 24m 23s
474:	learn: 0.0413814	total: 35m 33s	remaining: 24m 19s
475:	learn: 0.0413119	total: 35m 39s	remaining: 24m 16s
476:	learn: 0.0412761	total: 35m 44s	remaining: 24m 12s
477:	learn: 0.0412694	total: 35m 48s	remaining: 24m 7s
478:	learn: 0.0412469	total: 35m 53s	remaining: 24m 2s
479:	learn: 0.0412287	total: 35m 58s	remaining: 23m 59s
480:	learn: 0.0411616	total: 36m 4s	remaining: 23m 55s
481:	learn: 0.0411314	total: 36m 8s	remaining: 23m 50s
482:	learn: 0.0411243	total: 36m 13s	remaining: 23m 46s
483:	learn: 0.0411199	total: 36m 19s	remaining: 23m 42s
484:	learn: 0.0410756	total: 36m 23s	remaining: 23m 38s
485:	learn: 0.0410459	total: 36m 27s	remaining: 23m 33s
486:	learn: 0.0410400	total: 36m 31s	remaining: 23m 28s
487:	learn: 0.0410367	total: 36m 37s	remaining: 23m 24s
488:	learn: 0.0410076	total: 36m 41s	remaining: 23m 20s
489:	learn: 0.0409939	total: 36m 45s	remaining: 23m 15s
490:	learn: 0.0409797	total: 36m 51s	remaining: 23m 11s
491:	learn: 0.0409219	total: 36m 56s	remaining: 23m 7s
492:	learn: 0.0409106	total: 37m	remaining: 23m 2s
493:	learn: 0.0408733	total: 37m 4s	remaining: 22m 58s
494:	learn: 0.0408207	total: 37m 8s	remaining: 22m 53s
495:	learn: 0.0408066	total: 37m 13s	remaining: 22m 48s
496:	learn: 0.0407826	total: 37m 18s	remaining: 22m 44s
497:	learn: 0.0407597	total: 37m 22s	remaining: 22m 39s
498:	learn: 0.0406698	total: 37m 26s	remaining: 22m 35s
499:	learn: 0.0405772	total: 37m 31s	remaining: 22m 30s
500:	learn: 0.0405430	total: 37m 36s	remaining: 22m 26s
501:	learn: 0.0405145	total: 37m 40s	remaining: 22m 21s
502:	learn: 0.0404907	total: 37m 45s	remaining: 22m 17s
503:	learn: 0.0404579	total: 37m 49s	remaining: 22m 13s
504:	learn: 0.0404149	total: 37m 54s	remaining: 22m 8s
505:	learn: 0.0403677	total: 37m 58s	remaining: 22m 3s
506:	learn: 0.0403321	total: 38m 2s	remaining: 21m 59s
507:	learn: 0.0403103	total: 38m 7s	remaining: 21m 54s
508:	learn: 0.0402674	total: 38m 12s	remaining: 21m 50s
509:	learn: 0.0402143	total: 38m 16s	remaining: 21m 46s
510:	learn: 0.0402000	total: 38m 21s	remaining: 21m 41s
511:	learn: 0.0401785	total: 38m 25s	remaining: 21m 37s
512:	learn: 0.0401601	total: 38m 30s	remaining: 21m 32s
513:	learn: 0.0401230	total: 38m 34s	remaining: 21m 27s
514:	learn: 0.0400919	total: 38m 39s	remaining: 21m 23s
515:	learn: 0.0400800	total: 38m 43s	remaining: 21m 18s
516:	learn: 0.0400147	total: 38m 47s	remaining: 21m 14s
517:	learn: 0.0399986	total: 38m 52s	remaining: 21m 9s
518:	learn: 0.0399875	total: 38m 57s	remaining: 21m 5s
519:	learn: 0.0399516	total: 39m 1s	remaining: 21m
520:	learn: 0.0399353	total: 39m 5s	remaining: 20m 56s
521:	learn: 0.0399159	total: 39m 10s	remaining: 20m 51s
522:	learn: 0.0399132	total: 39m 16s	remaining: 20m 47s
523:	learn: 0.0398966	total: 39m 20s	remaining: 20m 43s
524:	learn: 0.0398555	total: 39m 25s	remaining: 20m 38s
525:	learn: 0.0398058	total: 39m 29s	remaining: 20m 34s
526:	learn: 0.0397753	total: 39m 34s	remaining: 20m 29s
527:	learn: 0.0397538	total: 39m 38s	remaining: 20m 25s
528:	learn: 0.0397399	total: 39m 43s	remaining: 20m 21s
529:	learn: 0.0397286	total: 39m 48s	remaining: 20m 16s
530:	learn: 0.0397050	total: 39m 53s	remaining: 20m 12s
531:	learn: 0.0396830	total: 39m 58s	remaining: 20m 8s
532:	learn: 0.0396450	total: 40m 2s	remaining: 20m 3s
533:	learn: 0.0396380	total: 40m 7s	remaining: 19m 59s
534:	learn: 0.0396141	total: 40m 11s	remaining: 19m 54s
535:	learn: 0.0396076	total: 40m 15s	remaining: 19m 49s
536:	learn: 0.0396075	total: 40m 19s	remaining: 19m 45s
537:	learn: 0.0395859	total: 40m 24s	remaining: 19m 40s
538:	learn: 0.0395629	total: 40m 29s	remaining: 19m 36s
539:	learn: 0.0395546	total: 40m 34s	remaining: 19m 32s
540:	learn: 0.0394942	total: 40m 38s	remaining: 19m 27s
541:	learn: 0.0394878	total: 40m 42s	remaining: 19m 22s
542:	learn: 0.0394295	total: 40m 47s	remaining: 19m 18s
543:	learn: 0.0393899	total: 40m 52s	remaining: 19m 14s
544:	learn: 0.0393684	total: 40m 57s	remaining: 19m 9s
545:	learn: 0.0393098	total: 41m 2s	remaining: 19m 5s
546:	learn: 0.0392936	total: 41m 7s	remaining: 19m 1s
547:	learn: 0.0392678	total: 41m 13s	remaining: 18m 57s
548:	learn: 0.0392421	total: 41m 17s	remaining: 18m 52s
549:	learn: 0.0392119	total: 41m 22s	remaining: 18m 48s
550:	learn: 0.0391643	total: 41m 26s	remaining: 18m 43s
551:	learn: 0.0391589	total: 41m 31s	remaining: 18m 39s
552:	learn: 0.0391234	total: 41m 36s	remaining: 18m 34s
553:	learn: 0.0390930	total: 41m 40s	remaining: 18m 30s
554:	learn: 0.0390708	total: 41m 45s	remaining: 18m 25s
555:	learn: 0.0390697	total: 41m 49s	remaining: 18m 21s
556:	learn: 0.0390056	total: 41m 54s	remaining: 18m 16s
557:	learn: 0.0390052	total: 41m 58s	remaining: 18m 12s
558:	learn: 0.0389747	total: 42m 2s	remaining: 18m 7s
559:	learn: 0.0389444	total: 42m 6s	remaining: 18m 2s
560:	learn: 0.0389300	total: 42m 10s	remaining: 17m 58s
561:	learn: 0.0389255	total: 42m 15s	remaining: 17m 53s
562:	learn: 0.0388582	total: 42m 19s	remaining: 17m 49s
563:	learn: 0.0388384	total: 42m 24s	remaining: 17m 44s
564:	learn: 0.0387821	total: 42m 28s	remaining: 17m 39s
565:	learn: 0.0387723	total: 42m 33s	remaining: 17m 35s
566:	learn: 0.0386548	total: 42m 37s	remaining: 17m 31s
567:	learn: 0.0385996	total: 42m 42s	remaining: 17m 26s
568:	learn: 0.0385913	total: 42m 47s	remaining: 17m 22s
569:	learn: 0.0385503	total: 42m 52s	remaining: 17m 17s
570:	learn: 0.0385134	total: 42m 57s	remaining: 17m 13s
571:	learn: 0.0384923	total: 43m 2s	remaining: 17m 9s
572:	learn: 0.0384819	total: 43m 6s	remaining: 17m 4s
573:	learn: 0.0384775	total: 43m 11s	remaining: 17m
574:	learn: 0.0384554	total: 43m 16s	remaining: 16m 55s
575:	learn: 0.0384137	total: 43m 20s	remaining: 16m 51s
576:	learn: 0.0383924	total: 43m 25s	remaining: 16m 47s
577:	learn: 0.0383734	total: 43m 30s	remaining: 16m 42s
578:	learn: 0.0383656	total: 43m 35s	remaining: 16m 38s
579:	learn: 0.0383417	total: 43m 41s	remaining: 16m 34s
580:	learn: 0.0383165	total: 43m 45s	remaining: 16m 29s
581:	learn: 0.0382545	total: 43m 50s	remaining: 16m 25s
582:	learn: 0.0381983	total: 43m 55s	remaining: 16m 20s
583:	learn: 0.0381581	total: 43m 59s	remaining: 16m 16s
584:	learn: 0.0381089	total: 44m 4s	remaining: 16m 11s
585:	learn: 0.0380945	total: 44m 9s	remaining: 16m 7s
586:	learn: 0.0380493	total: 44m 13s	remaining: 16m 3s
587:	learn: 0.0380030	total: 44m 19s	remaining: 15m 58s
588:	learn: 0.0379815	total: 44m 24s	remaining: 15m 54s
589:	learn: 0.0379529	total: 44m 28s	remaining: 15m 49s
590:	learn: 0.0379289	total: 44m 32s	remaining: 15m 45s
591:	learn: 0.0378877	total: 44m 37s	remaining: 15m 40s
592:	learn: 0.0378657	total: 44m 42s	remaining: 15m 36s
593:	learn: 0.0378501	total: 44m 46s	remaining: 15m 31s
594:	learn: 0.0377619	total: 44m 51s	remaining: 15m 27s
595:	learn: 0.0377405	total: 44m 55s	remaining: 15m 22s
596:	learn: 0.0377202	total: 44m 59s	remaining: 15m 17s

597:	learn: 0.0376484	total: 45m 3s	remaining: 15m 13s
598:	learn: 0.0375471	total: 45m 8s	remaining: 15m 8s
599:	learn: 0.0375350	total: 45m 12s	remaining: 15m 4s
600:	learn: 0.0375148	total: 45m 16s	remaining: 14m 59s
601:	learn: 0.0374892	total: 45m 22s	remaining: 14m 55s
602:	learn: 0.0374723	total: 45m 26s	remaining: 14m 50s
603:	learn: 0.0374247	total: 45m 31s	remaining: 14m 46s
604:	learn: 0.0373800	total: 45m 35s	remaining: 14m 41s
605:	learn: 0.0373758	total: 45m 40s	remaining: 14m 37s
606:	learn: 0.0373585	total: 45m 45s	remaining: 14m 32s
607:	learn: 0.0373553	total: 45m 49s	remaining: 14m 28s
608:	learn: 0.0373382	total: 45m 54s	remaining: 14m 23s
609:	learn: 0.0372576	total: 46m	remaining: 14m 19s
610:	learn: 0.0372494	total: 46m 4s	remaining: 14m 15s
611:	learn: 0.0372448	total: 46m 9s	remaining: 14m 10s
612:	learn: 0.0372372	total: 46m 15s	remaining: 14m 6s
613:	learn: 0.0372261	total: 46m 19s	remaining: 14m 2s
614:	learn: 0.0372152	total: 46m 24s	remaining: 13m 57s
615:	learn: 0.0371822	total: 46m 27s	remaining: 13m 52s
616:	learn: 0.0371503	total: 46m 32s	remaining: 13m 48s
617:	learn: 0.0371118	total: 46m 37s	remaining: 13m 43s
618:	learn: 0.0370831	total: 46m 41s	remaining: 13m 39s
619:	learn: 0.0370754	total: 46m 46s	remaining: 13m 34s
620:	learn: 0.0370534	total: 46m 50s	remaining: 13m 30s
621:	learn: 0.0370356	total: 46m 55s	remaining: 13m 25s
622:	learn: 0.0369215	total: 47m 1s	remaining: 13m 21s
623:	learn: 0.0369184	total: 47m 6s	remaining: 13m 17s
624:	learn: 0.0368628	total: 47m 9s	remaining: 13m 12s
625:	learn: 0.0368426	total: 47m 14s	remaining: 13m 7s
626:	learn: 0.0367995	total: 47m 20s	remaining: 13m 3s
627:	learn: 0.0367880	total: 47m 24s	remaining: 12m 59s
628:	learn: 0.0367211	total: 47m 29s	remaining: 12m 54s
629:	learn: 0.0367131	total: 47m 33s	remaining: 12m 50s
630:	learn: 0.0366977	total: 47m 38s	remaining: 12m 45s
631:	learn: 0.0366643	total: 47m 43s	remaining: 12m 41s
632:	learn: 0.0366361	total: 47m 48s	remaining: 12m 36s
633:	learn: 0.0366141	total: 47m 53s	remaining: 12m 32s
634:	learn: 0.0365891	total: 47m 59s	remaining: 12m 28s
635:	learn: 0.0365785	total: 48m 3s	remaining: 12m 23s
636:	learn: 0.0365730	total: 48m 8s	remaining: 12m 19s
637:	learn: 0.0365612	total: 48m 13s	remaining: 12m 14s
638:	learn: 0.0365591	total: 48m 19s	remaining: 12m 10s
639:	learn: 0.0365388	total: 48m 24s	remaining: 12m 6s
640:	learn: 0.0365065	total: 48m 28s	remaining: 12m 1s
641:	learn: 0.0364960	total: 48m 33s	remaining: 11m 57s
642:	learn: 0.0364569	total: 48m 38s	remaining: 11m 52s
643:	learn: 0.0364339	total: 48m 43s	remaining: 11m 48s
644:	learn: 0.0364232	total: 48m 48s	remaining: 11m 43s
645:	learn: 0.0363736	total: 48m 52s	remaining: 11m 39s
646:	learn: 0.0363205	total: 48m 56s	remaining: 11m 34s
647:	learn: 0.0362872	total: 49m 1s	remaining: 11m 30s
648:	learn: 0.0362237	total: 49m 5s	remaining: 11m 25s
649:	learn: 0.0362151	total: 49m 9s	remaining: 11m 20s
650:	learn: 0.0361607	total: 49m 14s	remaining: 11m 16s
651:	learn: 0.0361360	total: 49m 18s	remaining: 11m 11s
652:	learn: 0.0361338	total: 49m 23s	remaining: 11m 7s
653:	learn: 0.0361006	total: 49m 27s	remaining: 11m 2s
654:	learn: 0.0360742	total: 49m 33s	remaining: 10m 58s
655:	learn: 0.0360510	total: 49m 37s	remaining: 10m 53s
656:	learn: 0.0360148	total: 49m 43s	remaining: 10m 49s
657:	learn: 0.0359909	total: 49m 47s	remaining: 10m 44s
658:	learn: 0.0359731	total: 49m 51s	remaining: 10m 39s
659:	learn: 0.0359386	total: 49m 55s	remaining: 10m 35s
660:	learn: 0.0359191	total: 49m 59s	remaining: 10m 30s
661:	learn: 0.0358832	total: 50m 3s	remaining: 10m 26s
662:	learn: 0.0358578	total: 50m 7s	remaining: 10m 21s
663:	learn: 0.0358466	total: 50m 12s	remaining: 10m 16s
664:	learn: 0.0358333	total: 50m 16s	remaining: 10m 12s
665:	learn: 0.0358101	total: 50m 21s	remaining: 10m 7s
666:	learn: 0.0357903	total: 50m 27s	remaining: 10m 3s
667:	learn: 0.0357808	total: 50m 31s	remaining: 9m 59s
668:	learn: 0.0357532	total: 50m 36s	remaining: 9m 54s
669:	learn: 0.0357479	total: 50m 40s	remaining: 9m 50s
670:	learn: 0.0357438	total: 50m 45s	remaining: 9m 45s
671:	learn: 0.0356995	total: 50m 49s	remaining: 9m 40s
672:	learn: 0.0356819	total: 50m 54s	remaining: 9m 36s
673:	learn: 0.0356736	total: 50m 59s	remaining: 9m 31s
674:	learn: 0.0356611	total: 51m 4s	remaining: 9m 27s
675:	learn: 0.0356123	total: 51m 8s	remaining: 9m 22s
676:	learn: 0.0355483	total: 51m 13s	remaining: 9m 18s
677:	learn: 0.0355391	total: 51m 18s	remaining: 9m 13s
678:	learn: 0.0355333	total: 51m 22s	remaining: 9m 9s
679:	learn: 0.0354989	total: 51m 27s	remaining: 9m 4s
680:	learn: 0.0354770	total: 51m 32s	remaining: 9m
681:	learn: 0.0354634	total: 51m 35s	remaining: 8m 55s
682:	learn: 0.0354130	total: 51m 41s	remaining: 8m 51s
683:	learn: 0.0354116	total: 51m 47s	remaining: 8m 46s
684:	learn: 0.0354091	total: 51m 52s	remaining: 8m 42s
685:	learn: 0.0354056	total: 51m 57s	remaining: 8m 37s
686:	learn: 0.0353737	total: 52m 1s	remaining: 8m 33s
687:	learn: 0.0353676	total: 52m 6s	remaining: 8m 28s
688:	learn: 0.0353408	total: 52m 10s	remaining: 8m 24s
689:	learn: 0.0353333	total: 52m 15s	remaining: 8m 19s
690:	learn: 0.0352887	total: 52m 18s	remaining: 8m 15s
691:	learn: 0.0352587	total: 52m 23s	remaining: 8m 10s
692:	learn: 0.0351979	total: 52m 27s	remaining: 8m 5s
693:	learn: 0.0351644	total: 52m 31s	remaining: 8m 1s
694:	learn: 0.0351462	total: 52m 35s	remaining: 7m 56s
695:	learn: 0.0351439	total: 52m 40s	remaining: 7m 52s
696:	learn: 0.0351101	total: 52m 45s	remaining: 7m 47s
697:	learn: 0.0350971	total: 52m 49s	remaining: 7m 43s
698:	learn: 0.0350410	total: 52m 54s	remaining: 7m 38s
699:	learn: 0.0350099	total: 52m 58s	remaining: 7m 34s
700:	learn: 0.0349933	total: 53m 3s	remaining: 7m 29s
701:	learn: 0.0349629	total: 53m 7s	remaining: 7m 25s
702:	learn: 0.0349436	total: 53m 12s	remaining: 7m 20s
703:	learn: 0.0349218	total: 53m 17s	remaining: 7m 16s
704:	learn: 0.0349063	total: 53m 22s	remaining: 7m 11s
705:	learn: 0.0348758	total: 53m 27s	remaining: 7m 7s
706:	learn: 0.0348590	total: 53m 32s	remaining: 7m 2s
707:	learn: 0.0348193	total: 53m 37s	remaining: 6m 58s
708:	learn: 0.0347752	total: 53m 42s	remaining: 6m 53s
709:	learn: 0.0347537	total: 53m 46s	remaining: 6m 48s
710:	learn: 0.0347223	total: 53m 52s	remaining: 6m 44s
711:	learn: 0.0347095	total: 53m 56s	remaining: 6m 39s
712:	learn: 0.0347069	total: 54m 1s	remaining: 6m 35s
713:	learn: 0.0346945	total: 54m 5s	remaining: 6m 30s
714:	learn: 0.0346642	total: 54m 10s	remaining: 6m 26s
715:	learn: 0.0346529	total: 54m 15s	remaining: 6m 21s
716:	learn: 0.0346423	total: 54m 19s	remaining: 6m 17s
717:	learn: 0.0345954	total: 54m 23s	remaining: 6m 12s
718:	learn: 0.0345305	total: 54m 28s	remaining: 6m 8s
719:	learn: 0.0345183	total: 54m 33s	remaining: 6m 3s
720:	learn: 0.0345105	total: 54m 37s	remaining: 5m 59s
721:	learn: 0.0344892	total: 54m 41s	remaining: 5m 54s
722:	learn: 0.0344716	total: 54m 46s	remaining: 5m 50s
723:	learn: 0.0344238	total: 54m 50s	remaining: 5m 45s
724:	learn: 0.0344089	total: 54m 55s	remaining: 5m 40s
725:	learn: 0.0344024	total: 54m 59s	remaining: 5m 36s
726:	learn: 0.0343997	total: 55m 4s	remaining: 5m 31s
727:	learn: 0.0343814	total: 55m 7s	remaining: 5m 27s
728:	learn: 0.0343161	total: 55m 13s	remaining: 5m 22s
729:	learn: 0.0342786	total: 55m 19s	remaining: 5m 18s
730:	learn: 0.0342677	total: 55m 23s	remaining: 5m 13s
731:	learn: 0.0342676	total: 55m 27s	remaining: 5m 9s
732:	learn: 0.0342594	total: 55m 33s	remaining: 5m 4s
733:	learn: 0.0342115	total: 55m 38s	remaining: 5m
734:	learn: 0.0341680	total: 55m 44s	remaining: 4m 55s
735:	learn: 0.0341355	total: 55m 48s	remaining: 4m 51s
736:	learn: 0.0340638	total: 55m 52s	remaining: 4m 46s
737:	learn: 0.0340442	total: 55m 57s	remaining: 4m 42s
738:	learn: 0.0340441	total: 56m 1s	remaining: 4m 37s
739:	learn: 0.0340424	total: 56m 6s	remaining: 4m 32s
740:	learn: 0.0339818	total: 56m 10s	remaining: 4m 28s
741:	learn: 0.0339731	total: 56m 14s	remaining: 4m 23s
742:	learn: 0.0339147	total: 56m 18s	remaining: 4m 19s
743:	learn: 0.0338519	total: 56m 23s	remaining: 4m 14s
744:	learn: 0.0338408	total: 56m 29s	remaining: 4m 10s
745:	learn: 0.0338157	total: 56m 35s	remaining: 4m 5s

746:	learn: 0.0338075	total: 56m 40s	remaining: 4m 1s
747:	learn: 0.0338007	total: 56m 44s	remaining: 3m 56s
748:	learn: 0.0337593	total: 56m 50s	remaining: 3m 52s
749:	learn: 0.0337071	total: 56m 54s	remaining: 3m 47s
750:	learn: 0.0337023	total: 56m 58s	remaining: 3m 43s
751:	learn: 0.0336716	total: 57m 3s	remaining: 3m 38s
752:	learn: 0.0336060	total: 57m 7s	remaining: 3m 33s
753:	learn: 0.0335785	total: 57m 12s	remaining: 3m 29s
754:	learn: 0.0335554	total: 57m 17s	remaining: 3m 24s
755:	learn: 0.0335539	total: 57m 22s	remaining: 3m 20s
756:	learn: 0.0335510	total: 57m 27s	remaining: 3m 15s
757:	learn: 0.0335060	total: 57m 32s	remaining: 3m 11s
758:	learn: 0.0334708	total: 57m 37s	remaining: 3m 6s
759:	learn: 0.0333788	total: 57m 41s	remaining: 3m 2s
760:	learn: 0.0333636	total: 57m 46s	remaining: 2m 57s
761:	learn: 0.0333584	total: 57m 50s	remaining: 2m 53s
762:	learn: 0.0333419	total: 57m 55s	remaining: 2m 48s
763:	learn: 0.0332734	total: 58m	remaining: 2m 43s
764:	learn: 0.0332730	total: 58m 4s	remaining: 2m 39s
765:	learn: 0.0332214	total: 58m 9s	remaining: 2m 34s
766:	learn: 0.0331640	total: 58m 13s	remaining: 2m 30s
767:	learn: 0.0331541	total: 58m 18s	remaining: 2m 25s
768:	learn: 0.0331049	total: 58m 23s	remaining: 2m 21s
769:	learn: 0.0330666	total: 58m 28s	remaining: 2m 16s
770:	learn: 0.0330442	total: 58m 32s	remaining: 2m 12s
771:	learn: 0.0329811	total: 58m 37s	remaining: 2m 7s
772:	learn: 0.0329575	total: 58m 42s	remaining: 2m 3s
773:	learn: 0.0329266	total: 58m 46s	remaining: 1m 58s
774:	learn: 0.0329074	total: 58m 51s	remaining: 1m 53s
775:	learn: 0.0328956	total: 58m 55s	remaining: 1m 49s
776:	learn: 0.0328678	total: 59m	remaining: 1m 44s
777:	learn: 0.0328582	total: 59m 5s	remaining: 1m 40s
778:	learn: 0.0328360	total: 59m 11s	remaining: 1m 35s
779:	learn: 0.0328243	total: 59m 16s	remaining: 1m 31s
780:	learn: 0.0328106	total: 59m 21s	remaining: 1m 26s
781:	learn: 0.0328025	total: 59m 26s	remaining: 1m 22s
782:	learn: 0.0327911	total: 59m 31s	remaining: 1m 17s
783:	learn: 0.0327437	total: 59m 35s	remaining: 1m 12s
784:	learn: 0.0327261	total: 59m 39s	remaining: 1m 8s
785:	learn: 0.0327111	total: 59m 45s	remaining: 1m 3s
786:	learn: 0.0326790	total: 59m 48s	remaining: 59.3s
787:	learn: 0.0326680	total: 59m 53s	remaining: 54.7s
788:	learn: 0.0326388	total: 59m 57s	remaining: 50.2s
789:	learn: 0.0326329	total: 1h 2s	remaining: 45.6s
790:	learn: 0.0325802	total: 1h 7s	remaining: 41s
791:	learn: 0.0325770	total: 1h 12s	remaining: 36.5s
792:	learn: 0.0325307	total: 1h 16s	remaining: 31.9s
793:	learn: 0.0324793	total: 1h 21s	remaining: 27.4s
794:	learn: 0.0324765	total: 1h 26s	remaining: 22.8s
795:	learn: 0.0324281	total: 1h 31s	remaining: 18.2s
796:	learn: 0.0323815	total: 1h 36s	remaining: 13.7s
797:	learn: 0.0323507	total: 1h 41s	remaining: 9.13s
798:	learn: 0.0323199	total: 1h 46s	remaining: 4.56s
799:	learn: 0.0323059	total: 1h 51s	remaining: 0us
Wall time: 1h 1min 15s

In [71]:
fi = pd.DataFrame(cb.feature_importances_, index=X_train.columns, columns=['importance'])
fi.sort_values(by='importance', ascending=False)

                            importance
n_sold_category              11.458737
avg_transaction_category     10.820623
n_unique_stores               8.043346
Word2Vec_distance_from_avg    7.516109
price                         5.966379
Word2Vec_length               5.487594
n_transactions_per_week       5.041407
item_id                       4.381218
avg_interval                  4.339251
user_id                       4.140321
avg_cheque                    4.077712
avg_price                     4.036587
avg_basket_department         3.835564
quantity_per_week             3.580177
department                    2.734105
sub_commodity_desc            2.237944
commodity_desc                2.067957
curr_size_of_product          1.908691
Missing price                 1.571175
manufacturer                  1.496333
income_desc                   1.090741
age_desc                      1.029100
household_size_desc           0.618564
homeowner_desc                0.562473
hh_comp_desc                  0.500595
Last5sales                    0.443692
marital_status_code           0.373672
brand                         0.361715
kid_category_desc             0.278219
Missing quantity per week     0.000000

In [72]:
df_ranker_predict = df_ranker_train.copy()
df_ranker_predict['proba_item_purchase'] = train_preds[:,1]

In [73]:
N_PREDICT = 50
TOPK_PRECISION = 5

result_eval_ranker = data_val_ranker.groupby(USER_COL)[ITEM_COL].unique().reset_index()
result_eval_ranker.columns=[USER_COL, ACTUAL_COL]
result_eval_ranker['own_rec'] = make_recommendations(result_eval_ranker, 
                                                     recommender.get_own_recommendations, N_PREDICT=N_PREDICT)

sorted(calc_precision(result_eval_ranker, TOPK_PRECISION), key=lambda x: x[1], reverse=True)

[('own_rec', 0.08754901960784306)]

In [74]:
result_eval_ranker['reranked_own_rec'] = result_eval_ranker[USER_COL].\
                                            apply(lambda user_id: rerank(user_id, df_ranker_predict))
print(*sorted(calc_precision(result_eval_ranker, TOPK_PRECISION), key=lambda x: x[1], reverse=True), sep='\n')

('reranked_own_rec', 0.24373333333333086)
('own_rec', 0.08754901960784306)

C:\Users\aermo\Desktop\Rec_systems\course_project/src\metrics.py:19: RuntimeWarning: invalid value encountered in long_scalars
  return flags.sum() / len(recommended_list)

# Рекомендации для тестового датасета

In [75]:
data_test = pd.read_csv('retail_test1.csv')
data_test.head()

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,1340,41652823310,664,912987,1,8.49,446,0.0,52,96,0.0,0.0
1,588,41652838477,664,1024426,1,6.29,388,0.0,8,96,0.0,0.0
2,2070,41652857291,664,995242,5,9.10,311,-0.6,46,96,0.0,0.0
3,1602,41665647035,664,827939,1,7.99,334,0.0,1741,96,0.0,0.0
4,1602,41665647035,664,927712,1,0.59,334,-0.4,1741,96,0.0,0.0

In [76]:
df_test_candidates = pd.DataFrame(data_test[USER_COL].unique())
df_test_candidates.columns = [USER_COL]

df_test_candidates['recommendations'] = df_test_candidates[USER_COL].\
                                        apply(lambda user_id: rerank(user_id, df_ranker_predict))

In [77]:
df_test_candidates.to_csv('recommendations.csv', index=False)
df_test_candidates.head()

   user_id                               recommendations
0     1340    [1040970, 979707, 944486, 1082185, 852856]
1      588  [14025268, 12517411, 899624, 907631, 933835]
2     2070    [1082185, 904236, 1072917, 899624, 865456]
3     1602  [6632270, 15596872, 1006342, 829323, 885592]
4      447   [1072298, 1004906, 1008675, 899624, 856060]